body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  #map {
    height: 400px;
    width: 100%;
  }

  .form-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }

  .location-form {
    margin-bottom: 20px;
  }

  .receiver-location {
    margin-bottom: 10px;
  }

  .remove-receiver {
    cursor: pointer;
    color: red;
  }

  .hidden {
    display: none;
  }

  #pac-input {
          background-color: #fff;
          padding: 10px;
          font-size: 16px;
          border: 1px solid #ccc;
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
          width: 400px; /* Adjust the width as needed */
          margin: 10px;
      }
      #map {
          height: 400px;
          width: 100%;
      }

      /* Style for the search input */
      .controls {
          background-color: #fff;
          padding: 10px;
          font-size: 16px;
          border: 1px solid #ccc;
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
          width: 400px; /* Adjust the width as needed */
          margin: 10px;
      }

      #location-info {
          margin: 10px;
          font-size: 16px;
      }